.tree {
  width: 40%;
  height: auto;
}
.center {
  text-align: center;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.basket {
  width: 25%;
  position: relative;
  left: 5%;
  margin-top: -10%;
}

.apple {
  width: 3%;
  position: absolute;
}

.appleOnBasket {
  width: 3%;
  position: absolute;
}

.appleOnBasket2 {
  width: 3%;
  position: absolute;
}

.fallingApple {
  width: 3%;
  animation: MoveUpDown 1s;
  position: absolute;
  left: 50%;
}

.fallingApple2 {
  width: 3%;
  animation: MoveUpDown 1s linear;
  position: absolute;
  left: 45%;
}
@keyframes MoveUpDown {
  from {
    top: 30%;
  }
  to {
    top: 70%;
  }
}
